.travel_trans{
    height: 90vh;
   width:100% ;
   background-color:#ff7f6e;
   
}


.trvel_img_data{
   float: right;
   height:99%;
   width:35%;
   padding-left: -10px;
   margin-right: 50px;
   

}

.trans_hospit_div{
   background-color:#342e39 ;
   height:80vh;
   width:70%;
   margin-top: -20rem;
   
  
}

.trnsp_h2_ds{
   font-size: 70px;
   font-weight: 600;
   font-family: Poppins;
   color: white;
   margin-left: 80px;
   padding: 5px;
   width:90%;
}

.trpnsp_p_sty{
   font-size: 30px;
   font-weight: 300;
   font-family: Poppins;
   color:white;
   margin:30px;
   margin-left: 55px;
   padding:20px
}

.trav_transp_p{
   font-size: 27px;
   width:80%;
   font-weight: 300;
   font-family: Poppins;
   color:black;
   margin:30px;
   margin-left: 55px;
   padding:20px
}

.travel-hosp_div{
    height: 80vh;
    background-color: rgb(224, 221, 218);
    
}